document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
     <!-- XML Schema Generated from XML Document on Tue May 24 2016 22:13:07 GMT-0600 (MDT) -->
     <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
     <xs:element name="document">
           <xs:complexType>
                 <xs:sequence>
                       <xs:element name="head">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="style" type="xs:string"></xs:element>
                                   </xs:sequence>
                             </xs:complexType>
                       </xs:element>
                       <xs:element name="alertTemplate">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="background">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="img">
                                                                 <xs:complexType>
                                                                       <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                         <xs:element name="title" type="xs:string"></xs:element>
                                         <xs:element name="button" maxOccurs="unbounded">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="text" type="xs:string"></xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                   </xs:sequence>
                             </xs:complexType>
                       </xs:element>
                       <xs:element name="descriptiveAlertTemplate">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="title" type="xs:string"></xs:element>
                                         <xs:element name="shelf">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="section">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="lockup" maxOccurs="unbounded">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="img">
                                                                                                     <xs:complexType>
                                                                                                           <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                                                           <xs:attribute name="width" type="xs:int"></xs:attribute>
                                                                                                           <xs:attribute name="height" type="xs:int"></xs:attribute>
                                                                                                     </xs:complexType>
                                                                                               </xs:element>
                                                                                               <xs:element name="title">
                                                                                                 <xs:complexType>
                                                                                                   <xs:simpleContent>
                                                                                                     <xs:extension base="xs:string">
                                                                                                       <xs:attribute name="class" type="xs:string"></xs:attribute>
                                                                                                     </xs:extension>
                                                                                                   </xs:simpleContent>
                                                                                                 </xs:complexType>
                                                                                               </xs:element>
                                                                                         </xs:sequence>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                         <xs:element name="button" maxOccurs="unbounded">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="text" type="xs:string"></xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                   </xs:sequence>
                             </xs:complexType>
                       </xs:element>
                       <xs:element name="ratingTemplate">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="title" type="xs:string"></xs:element>
                                         <xs:element name="ratingBadge">
                                               <xs:complexType>
                                                     <xs:attribute name="value" type="xs:double"></xs:attribute>
                                               </xs:complexType>
                                         </xs:element>
                                   </xs:sequence>
                             </xs:complexType>
                       </xs:element>
                       <xs:element name="listTemplate">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="banner">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="background">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="img">
                                                                                   <xs:complexType>
                                                                                         <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                                         <xs:attribute name="width" type="xs:int"></xs:attribute>
                                                                                         <xs:attribute name="height" type="xs:int"></xs:attribute>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                         <xs:element name="list">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="header">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="title" type="xs:string"></xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                           <xs:element name="section">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="header">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="title" type="xs:string"></xs:element>
                                                                                         </xs:sequence>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                             <xs:element name="listItemLockup" maxOccurs="unbounded">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="title" type="xs:string"></xs:element>
                                                                                               <xs:element name="relatedContent">
                                                                                                     <xs:complexType>
                                                                                                           <xs:sequence>
                                                                                                                 <xs:element name="lockup">
                                                                                                                       <xs:complexType>
                                                                                                                             <xs:sequence>
                                                                                                                                   <xs:element name="img">
                                                                                                                                         <xs:complexType>
                                                                                                                                               <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                                                                                               <xs:attribute name="width" type="xs:int"></xs:attribute>
                                                                                                                                               <xs:attribute name="height" type="xs:int"></xs:attribute>
                                                                                                                                         </xs:complexType>
                                                                                                                                   </xs:element>
                                                                                                                                   <xs:element name="title" type="xs:string"></xs:element>
                                                                                                                                   <xs:element name="subtitle" type="xs:string"></xs:element>
                                                                                                                                   <xs:element name="description">
                                                                                                                                         <xs:complexType>
                                                                                                                                           <xs:simpleContent>
                                                                                                                                             <xs:extension base="xs:string">
                                                                                                                                               <xs:attribute name="class" type="xs:string"></xs:attribute>
                                                                                                                                             </xs:extension>
                                                                                                                                           </xs:simpleContent>
                                                                                                                                         </xs:complexType>
                                                                                                                                   </xs:element>
                                                                                                                             </xs:sequence>
                                                                                                                       </xs:complexType>
                                                                                                                 </xs:element>
                                                                                                           </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                               </xs:element>
                                                                                         </xs:sequence>
                                                                                         <xs:attribute name="videoUrlString" type="xs:string"></xs:attribute>
                                                                                         <xs:attribute name="documentURL" type="xs:string"></xs:attribute>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                           <xs:element name="tumblerItem">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="title" type="xs:string"></xs:element>
                                                                             <xs:element name="subtitle" type="xs:string"></xs:element>
                                                                       </xs:sequence>
                                                                       <xs:attribute name="numberOfItemsToCreate" type="xs:int"></xs:attribute>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                   </xs:sequence>
                             </xs:complexType>
                       </xs:element>
                       <xs:element name="compilationTemplate">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="background">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="img">
                                                                 <xs:complexType>
                                                                       <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                         <xs:element name="list">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="relatedContent">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="itemBanner">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="row">
                                                                                                     <xs:complexType>
                                                                                                           <xs:sequence>
                                                                                                                 <xs:element name="buttonLockup" maxOccurs="unbounded">
                                                                                                                       <xs:complexType>
                                                                                                                             <xs:sequence>
                                                                                                                                   <xs:element name="badge">
                                                                                                                                         <xs:complexType>
                                                                                                                                               <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                                                                                               <xs:attribute name="class" type="xs:string"></xs:attribute>
                                                                                                                                         </xs:complexType>
                                                                                                                                   </xs:element>
                                                                                                                                   <xs:element name="title" type="xs:string"></xs:element>
                                                                                                                             </xs:sequence>
                                                                                                                       </xs:complexType>
                                                                                                                 </xs:element>
                                                                                                           </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                               </xs:element>
                                                                                         </xs:sequence>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                           <xs:element name="header">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="title" type="xs:string"></xs:element>
                                                                             <xs:element name="subtitle" type="xs:string"></xs:element>
                                                                             <xs:element name="row">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="text" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                                         </xs:sequence>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                           <xs:element name="section" maxOccurs="unbounded">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="description">
                                                                                   <xs:complexType>
                                                                                     <xs:simpleContent>
                                                                                       <xs:extension base="xs:string">
                                                                                         <xs:attribute name="allowsZooming" type="xs:string"></xs:attribute>
                                                                                       </xs:extension>
                                                                                     </xs:simpleContent>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                   </xs:sequence>
                             </xs:complexType>
                       </xs:element>
                       <xs:element name="paradeTemplate">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="list">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="header">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="title" type="xs:string"></xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                           <xs:element name="section">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="listItemLockup" maxOccurs="unbounded">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="title" type="xs:string"></xs:element>
                                                                                               <xs:element name="relatedContent">
                                                                                                     <xs:complexType>
                                                                                                           <xs:sequence>
                                                                                                                 <xs:element name="imgDeck">
                                                                                                                       <xs:complexType>
                                                                                                                             <xs:sequence>
                                                                                                                                   <xs:element name="img" maxOccurs="unbounded">
                                                                                                                                         <xs:complexType>
                                                                                                                                               <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                                                                                         </xs:complexType>
                                                                                                                                   </xs:element>
                                                                                                                             </xs:sequence>
                                                                                                                       </xs:complexType>
                                                                                                                 </xs:element>
                                                                                                           </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                               </xs:element>
                                                                                         </xs:sequence>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                           <xs:element name="relatedContent">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="imgDeck">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="img" maxOccurs="unbounded">
                                                                                                     <xs:complexType>
                                                                                                           <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                                                     </xs:complexType>
                                                                                               </xs:element>
                                                                                         </xs:sequence>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                   </xs:sequence>
                             </xs:complexType>
                       </xs:element>
                       <xs:element name="formTemplate">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="banner">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="title" type="xs:string"></xs:element>
                                                           <xs:element name="description">
                                                             <xs:complexType>
                                                              <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                  <xs:attribute name="class" type="xs:string"></xs:attribute>
                                                                </xs:extension>
                                                              </xs:simpleContent>
                                                            </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                         <xs:element name="textField" type="xs:string"></xs:element>
                                         <xs:element name="footer">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="button">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="text" type="xs:string"></xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                   </xs:sequence>
                             </xs:complexType>
                       </xs:element>
                       <xs:element name="loadingTemplate">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="activityIndicator">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="title" type="xs:string"></xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                   </xs:sequence>
                             </xs:complexType>
                       </xs:element>
                       <xs:element name="stackTemplate">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="collectionList">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="carousel">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="section">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="lockup" maxOccurs="unbounded">
                                                                                                     <xs:complexType>
                                                                                                           <xs:sequence>
                                                                                                                 <xs:element name="img">
                                                                                                                       <xs:complexType>
                                                                                                                             <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                                                                             <xs:attribute name="width" type="xs:int"></xs:attribute>
                                                                                                                             <xs:attribute name="height" type="xs:int"></xs:attribute>
                                                                                                                       </xs:complexType>
                                                                                                                 </xs:element>
                                                                                                                 <xs:element name="overlay">
                                                                                                                       <xs:complexType>
                                                                                                                             <xs:sequence>
                                                                                                                                   <xs:element name="title" type="xs:string"></xs:element>
                                                                                                                                   <xs:element name="subtitle" type="xs:string"></xs:element>
                                                                                                                             </xs:sequence>
                                                                                                                       </xs:complexType>
                                                                                                                 </xs:element>
                                                                                                           </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                               </xs:element>
                                                                                         </xs:sequence>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                           <xs:element name="shelf" maxOccurs="unbounded">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="header">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="title" type="xs:string"></xs:element>
                                                                                         </xs:sequence>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                             <xs:element name="section">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="lockup" maxOccurs="unbounded">
                                                                                                     <xs:complexType>
                                                                                                           <xs:sequence>
                                                                                                                 <xs:element name="img">
                                                                                                                       <xs:complexType>
                                                                                                                             <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                                                                             <xs:attribute name="width" type="xs:int"></xs:attribute>
                                                                                                                             <xs:attribute name="height" type="xs:int"></xs:attribute>
                                                                                                                       </xs:complexType>
                                                                                                                 </xs:element>
                                                                                                                 <xs:element name="title" type="xs:string"></xs:element>
                                                                                                                 <xs:element name="overlay">
                                                                                                                       <xs:complexType>
                                                                                                                             <xs:sequence>
                                                                                                                                   <xs:element name="progressBar">
                                                                                                                                         <xs:complexType>
                                                                                                                                               <xs:attribute name="value" type="xs:double"></xs:attribute>
                                                                                                                                         </xs:complexType>
                                                                                                                                   </xs:element>
                                                                                                                             </xs:sequence>
                                                                                                                             <xs:attribute name="class" type="xs:string"></xs:attribute>
                                                                                                                       </xs:complexType>
                                                                                                                 </xs:element>
                                                                                                           </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                               </xs:element>
                                                                                         </xs:sequence>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                   </xs:sequence>
                             </xs:complexType>
                       </xs:element>
                       <xs:element name="mainTemplate">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="background">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="img" maxOccurs="unbounded">
                                                                 <xs:complexType>
                                                                       <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                           <xs:element name="audio">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="asset">
                                                                                   <xs:complexType>
                                                                                         <xs:attribute name="id" type="xs:string"></xs:attribute>
                                                                                         <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                         <xs:element name="menuBar">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="section">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="menuItem" maxOccurs="unbounded">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="title" type="xs:string"></xs:element>
                                                                                         </xs:sequence>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                   </xs:sequence>
                             </xs:complexType>
                       </xs:element>
                       <xs:element name="oneupTemplate">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="section">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="lockup" maxOccurs="unbounded">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="img">
                                                                                   <xs:complexType>
                                                                                         <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                             <xs:element name="title" type="xs:string"></xs:element>
                                                                             <xs:element name="subtitle" type="xs:string"></xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                   </xs:sequence>
                                   <xs:attribute name="mode" type="xs:string"></xs:attribute>
                             </xs:complexType>
                       </xs:element>
                       <xs:element name="searchTemplate">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="searchField" type="xs:string"></xs:element>
                                         <xs:element name="separator">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="segmentBar">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="segmentBarItem" maxOccurs="unbounded">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="title" type="xs:string"></xs:element>
                                                                                         </xs:sequence>
                                                                                         <xs:attribute name="value" type="xs:string"></xs:attribute>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                       <xs:attribute name="id" type="xs:string"></xs:attribute>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                         <xs:element name="text">
                                           <xs:complexType>
                                            <xs:simpleContent>
                                              <xs:extension base="xs:string">
                                                <xs:attribute name="id" type="xs:string"></xs:attribute>
                                              </xs:extension>
                                            </xs:simpleContent>
                                          </xs:complexType>
                                         </xs:element>
                                         <xs:element name="list">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="section">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="header">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="title" type="xs:string"></xs:element>
                                                                                         </xs:sequence>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                             <xs:element name="listItemLockup" maxOccurs="unbounded">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="title">
                                                                                                     <xs:complexType>
                                                                                                           <xs:sequence>
                                                                                                                 <xs:element name="span">
                                                                                                                       <xs:complexType>
                                                                                                                             <xs:sequence>
                                                                                                                                   <xs:element name="b" type="xs:string"></xs:element>
                                                                                                                             </xs:sequence>
                                                                                                                       </xs:complexType>
                                                                                                                 </xs:element>
                                                                                                           </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                               </xs:element>
                                                                                         </xs:sequence>
                                                                                         <xs:attribute name="value" type="xs:string"></xs:attribute>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                                     <xs:attribute name="id" type="xs:string"></xs:attribute>
                                               </xs:complexType>
                                         </xs:element>
                                         <xs:element name="shelf">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="header">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="title" type="xs:string"></xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                           <xs:element name="section">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="lockup" maxOccurs="unbounded">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="img">
                                                                                                     <xs:complexType>
                                                                                                           <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                                                           <xs:attribute name="width" type="xs:int"></xs:attribute>
                                                                                                           <xs:attribute name="height" type="xs:int"></xs:attribute>
                                                                                                     </xs:complexType>
                                                                                               </xs:element>
                                                                                               <xs:element name="title" type="xs:string">
                                                                                               </xs:element>
                                                                                         </xs:sequence>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                                     <xs:attribute name="id" type="xs:string"></xs:attribute>
                                               </xs:complexType>
                                         </xs:element>
                                         <xs:element name="collectionList">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="shelf">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="section">
                                                                                   <xs:complexType>
                                                                                         <xs:attribute name="id" type="xs:string"></xs:attribute>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                       <xs:attribute name="id" type="xs:string"></xs:attribute>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                           <xs:element name="grid">
                                                                 <xs:complexType>
                                                                       <xs:attribute name="id" type="xs:string"></xs:attribute>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                                     <xs:attribute name="id" type="xs:string"></xs:attribute>
                                               </xs:complexType>
                                         </xs:element>
                                   </xs:sequence>
                             </xs:complexType>
                       </xs:element>
                       <xs:element name="showcaseTemplate">
                             <xs:complexType>
                                   <xs:sequence>
                                         <xs:element name="background">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="img">
                                                                 <xs:complexType>
                                                                       <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                         <xs:element name="banner">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="title" type="xs:string"></xs:element>
                                                           <xs:element name="row">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="button">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="text" type="xs:string"></xs:element>
                                                                                         </xs:sequence>
                                                                                         <xs:attribute name="slideshowImageURLs" type="xs:string"></xs:attribute>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                         <xs:element name="carousel">
                                               <xs:complexType>
                                                     <xs:sequence>
                                                           <xs:element name="section">
                                                                 <xs:complexType>
                                                                       <xs:sequence>
                                                                             <xs:element name="lockup" maxOccurs="unbounded">
                                                                                   <xs:complexType>
                                                                                         <xs:sequence>
                                                                                               <xs:element name="img">
                                                                                                     <xs:complexType>
                                                                                                           <xs:attribute name="src" type="xs:string"></xs:attribute>
                                                                                                           <xs:attribute name="width" type="xs:int"></xs:attribute>
                                                                                                           <xs:attribute name="height" type="xs:int"></xs:attribute>
                                                                                                     </xs:complexType>
                                                                                               </xs:element>
                                                                                               <xs:element name="title" type="xs:string"></xs:element>
                                                                                               <xs:element name="subtitle" type="xs:string"></xs:element>
                                                                                               <xs:element name="description">
                                                                                                     <xs:complexType>
                                                                                                       <xs:simpleContent>
                                                                                                         <xs:extension base="xs:string">
                                                                                                           <xs:attribute name="class" type="xs:string"></xs:attribute>
                                                                                                         </xs:extension>
                                                                                                       </xs:simpleContent>
                                                                                                     </xs:complexType>
                                                                                               </xs:element>
                                                                                         </xs:sequence>
                                                                                   </xs:complexType>
                                                                             </xs:element>
                                                                       </xs:sequence>
                                                                 </xs:complexType>
                                                           </xs:element>
                                                     </xs:sequence>
                                               </xs:complexType>
                                         </xs:element>
                                   </xs:sequence>
                             </xs:complexType>
                       </xs:element>
                 </xs:sequence>
           </xs:complexType>
     </xs:element>
</xs:schema>
